<form method="post" action="{{ path('app_productos_delete', {'idarticulo': articulo.idarticulo}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ articulo.idarticulo) }}">
    <button class="btn">Delete</button>
</form>
