{% extends 'base.html.twig' %}

{% block title %}Edit DetalleVenta{% endblock %}

{% block body %}
    <h1>Edit DetalleVenta</h1>

    {{ include('a_carrito/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_a_carrito_index') }}">back to list</a>

    {{ include('a_carrito/_delete_form.html.twig') }}
{% endblock %}
