{% extends 'base.html.twig' %}

{% block title %}New DetalleVenta{% endblock %}

{% block body %}
    <h1>Create new DetalleVenta</h1>

    {{ include('a_carrito/_form.html.twig') }}

    <a href="{{ path('app_a_carrito_index') }}">back to list</a>
{% endblock %}
